.videoContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  

  .video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    top: 0;
  }
  
  
  @media only screen and (max-width: 768px) {

    .videoContainer  {
      height: 80vh;
    }

}