@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

/* .text-lg{
  line-height: 1.4rem;
}

.text-2xl{
  line-height: 1.7rem;
  letter-spacing: -0.02rem;
}

.text-sm {
  font-size: 1rem;
  line-height: 1.12rem;
} */

body{
  font-family: var(--font-monument)
}

.bold{
  font-weight: 700;
}

.regular{
  font-weight: 400;
}

img{
  height: 100%;
}

.text-md{
  line-height: 1.3rem;
}

h1 .text-sm a{
  text-decoration: none;
  transition: .2s ease-in-out;
}

.text-sm a{
  text-decoration: underline;
  transition: .2s ease-in-out;
}

.text-sm a:hover{
  color: grey;
  transition: .2s ease-in-out;
}

body{
  letter-spacing: 0.01rem;
  overflow-x: hidden; /* Prevents horizontal scroll */
  /* cursor: none; */
}

.hero{
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.01rem;
}

.text-indent{
  text-indent: 0px;
}


a.site-title{
  /* background: #5b0f0f94; */
}
/* 
.text-xs {
font-size: 0.85rem;
line-height: 1.1rem;
} */

/* .work-grid h2{
  text-transform: uppercase;
  font-size: .8rem;
} */

.header-wrapper{
  /* -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px); */
  /* background: #ffffffe7; */
  /* background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.588)); */
}

.FadeInImage_imageWrapper img{
  filter: grayscale(100%);
}

.home-page-image-wrapper{
  position: relative;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}

.home-page-image-wrapper-small{
  position: relative;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  padding-top: 5%;
  height: 50vh;
}

.work-page-image-wrapper{
  position: relative;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  padding-top: 170%;
  background: white;
  border: 0px;
  outline: 0px;
}

.work-page-image-wrapper img{
  background: white;
  border: 0px;
  outline: 0px;
}

.cs-portrait-image-wrapper{
  position: relative;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  padding-top: 145%;
}

.cs-landscape-image-wrapper{
  position: relative;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  padding-top: 66.67%;
}

.cs-header-image-wrapper{
  position: relative;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  padding-top: 66.67%;
}

.work-hover:hover {
  /* color: rgb(190, 190, 190); */
}

/* .work-page-image-wrapper img{
  scale: 1;
  transition: .2s;
}

.work-page-image-wrapper img:hover{
  scale: 1.01;
  transition: .2s;
} */

.nav-inner{
  /* background: #00000018; */
  width: auto;
  /* padding: .5em 1em; */
  border-radius: 30px;
}

.nav-button{
  /* background: #00000018; */
  padding: .5em 1em;
  border-radius: 30px;
}

.menu-button{
  z-index: 100;
}

.dropdown-menu{
  padding: 1em;
  margin-left: -23px;

}

.dropdown-menu a{
  padding: .5em 0em;
  text-decoration: none;
}

.nav-inner a{
  padding: 0em .25em;
  text-decoration: none;
}

.project-thumb{
  z-index: 10;
  width: 400px !important;
  height: 600px !important;
  left: 40% !important;
  top: 19% !important;
  border-radius: 20px;
  transition-delay: 5s;
}

/* .custom-cursor {
  position: fixed;
  top: 6em;
  left: 1em;
  pointer-events: none;
  font-size: .75rem;
  color: #ffffffe9;
  padding: .75em 1.25em;
  border-radius: 20px;
  white-space: nowrap;
  display: flex;
  z-index: 1000;
  overflow: hidden;
} */

.custom-cursor {
  position: fixed;
  top: 4em;
  left: 3em;
  pointer-events: none;
  font-size: .75rem;
  border-radius: 2px;
  width: auto;
  padding: .5em .7em .4em .7em;
  color: #ffffff;
  white-space: nowrap;
  /* text-transform: uppercase; */
  display: flex;
  z-index: 1000;
  overflow: hidden;
  transform: translate(10%, 10%);
  letter-spacing: 0.05em;
}

.slider-button{
  font-size: .75rem;
  color: #ffffff;
  letter-spacing: 0.05em;
}


.cursor-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  /* background: rgb(16, 16, 16); */
  /* backdrop-filter: blur(10px); */
  border-radius: 0%;
  opacity: 1;
}


.cursor-text{
  color: #fff;
}

.custom-cursor {
  /* transition: all 0.3s ease; */
  opacity: 0; /* Hidden at first */
}

.custom-cursor.show {
  opacity: 1;
  /* transition: all 0.3s ease; */
}

/* .cursor-hover img:hover{
  scale: 1.02;
  transition: all .2s;
} */


.home-page-portrait{
  padding-top: 100%;
}

.tags-wrapper{
  left: .5em;
  top: .7em;
  z-index: 10;
}

.dark .tag{
  background: rgba(0, 0, 0, 0.2); /* Light transparent background */
  backdrop-filter: blur(10px); /* Blurred effect */
  border-radius: 3px;
  padding: .35em .75em;
  font-size: .65rem;
  letter-spacing: 0.02em;
  margin: 0em .25em;
}

.tag{
  background: rgba(0, 0, 0, 0.2); /* Light transparent background */
  backdrop-filter: blur(10px); /* Blurred effect */
  color: #ffffffba;
  border-radius: 3px;
  padding: .35em .75em;
  font-size: .65rem;
  letter-spacing: 0.02em;
  margin: 0em .25em;
}




/* .work-page-image-wrapper  img:hover ~ .custom-cursor {
  content: 'View Case Study';
  display: block;
} */

.slider-wrapper{
  width: 100%;
}

.bg-image-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}



body .main{
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 250ms;

}

.page-transition .main{
  opacity: 0;
  transition-delay: 200ms;
  transition-duration: 250ms;
}





/* 
.slidein{
  transform: translatey(0%);
}

.page-transition .slidein{
  transition-delay: 1s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  transform: translatey(-100%);

} */



@media only screen and (max-width: 1024px) {

  .home-page-image-wrapper-small{
    height: 100%;
  }

}

@media only screen and (max-width: 768px) {
  .home-page-image-wrapper{
    position: relative;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
  }
  .cs-header-image-wrapper{
    position: relative;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
  }
  /* .work-grid .text-xs{
    font-size: 0.7rem;
    line-height: .8rem;
  } */
  .hero {
    font-size: 1.8rem;
  }


  .work-hover:hover {
    color: black;
  }
  .custom-cursor {
    display: none !important;
  }

}